@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.pw_auth-component {
    animation: fadeIn .5s
}

.pw_auth-hidden {
    animation: fadeOut .5s
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.pw_auth-text_success {
    color: #4ade80
}

.pw_auth-text_danger {
    color: #f87171
}

#pw_auth-login_title {
    font-weight: 700;
    color: #1b2124
}

.pw_auth-hidden {
    opacity: 0
}

.pw_auth-component {
    transition: opacity .5s
}

.pw_auth-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 8px 24px #0000000f;
    min-width: 492px;
    gap: 16px
}

.pw_auth-wrapper label {
    font-size: 12px;
    color: #757575
}

#pw_auth-country_code {
    position: relative;
    width: 25px;
    min-width: 1em;
    margin-right: 3px
}

#pw_auth-country_codes_wrapper {
    position: absolute;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 8px 24px #0000000f;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 1500;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-width: 264px
}

#pw_auth-countryCodes>div {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 14px
}

.pw_auth-code_active {
    background: #f5f5f5;
    color: red
}

#pw_auth-countryCodes>div:hover {
    background: #f5f5f5;
    cursor: pointer
}

#pw_auth-countryCodes span:first-child {
    font-weight: 700
}

#pw_auth-countryCodes span:last-child {
    color: #757575;
    max-width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#pw_auth-input_dropdown_wrapper {
    cursor: pointer;
    display: flex;
    align-items: center
}

.pw_auth-country_dial_code,
#pw_auth-input_country_code,
#pw_auth-country_dial_code {
    color: #a1a3a4 !important;
    text-overflow: ellipsis
}

.pw_auth-padding_input {
    padding: 12px 16px
}

.pw_auth-input {
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    outline: none;
    color: #3d3d3d;
    width: 100%
}

.pw_auth-sdk_wrapper {
    display: flex;
    height: 100%
}

.pw_auth-img_wrapper {
    width: 42%;
    background-image: url(https://static.pw.live/auth-fe/assets/images/web.webp);
    background-size: cover;
    background-repeat: no-repeat
}

.pw_auth-remove_border,
.pw_auth-no_border {
    border: none !important;
    outline: none !important
}

.pw_auth-logic_section {
    width: 58%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.pw_auth-input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px
}

#pw_auth-input_code_wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative
}

.pw_auth-input_mobile {
    display: flex;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    gap: 20px
}

.pw_auth-flex {
    display: flex
}

.pw_auth-gap_4 {
    gap: 4px
}

.pw_auth-pointer {
    cursor: pointer
}

#pw_auth-back_to_login {
    width: 16px
}

#pw_auth-codes_dropdown {
    display: flex;
    width: 10px
}

#pw_auth-codes_dropdown>img {
    width: 100%;
    height: 100%
}

.pw_auth-cta {
    padding: 12px 24px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    color: #fff;
    background: #5a4bda;
    width: 100%
}

.pw_auth-cta:not(.pw_auth-disable_cta):hover {
    background: #4436b8
}

.pw_auth-disable_cta {
    opacity: .5;
    cursor: not-allowed !important
}

.pw_auth-otp_wrapper {
    display: flex;
    justify-content: center;
    gap: 16px
}

.pw_auth-otp_wrapper input {
    height: 54px;
    width: 54px;
    outline: none;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #b7b7b7;
    text-align: center;
    font-weight: 700;
    font-size: 20px
}

.pw_auth-otp_timer {
    font-size: 14px;
    color: #3d3d3d
}

.pw_auth-referral_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px
}

#pw_auth-referral_cta {
    color: #5a4bda;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 40px;
    width: fit-content
}

#pw_auth-referral_cta:hover {
    text-decoration: underline
}

#pw_auth-referral_code_input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px
}

#pw_auth-referral_input_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    overflow: hidden;
    gap: 4px;
    padding: 0 16px
}

#pw_auth-referral_input_wrapper>input {
    width: 100%;
    border: none;
    outline: none;
    color: #3d3d3d;
    padding: 12px 0
}

#pw_auth-referral_input_wrapper>span {
    cursor: pointer;
    color: #5a4bda;
    font-size: 14px;
    white-space: nowrap
}

#pw_auth-terms_and_condition_wrapper {
    color: #3d3d3d;
    font-size: 12px
}

#pw_auth-terms_and_condition_wrapper>span {
    text-decoration: underline;
    color: #037cbf;
    cursor: pointer
}

#pw_auth-signup_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px
}

#pw_auth-otp_error {
    color: red
}

.pw_auth-otp_input_error {
    border: 1px solid red !important
}

.pw_auth-referral_error_text {
    color: red !important;
    font-size: 12px !important;
    cursor: not-allowed !important
}

#pw_auth-terms_modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0006;
    justify-content: center;
    align-items: center;
    z-index: 1
}

#pw_auth-terms_modal_wrapper {
    background: #fff;
    height: 80%;
    width: 40%;
    border-radius: 12px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 1500;
    scrollbar-width: none;
    -ms-overflow-style: none
}

#pw_auth-terms_modal_content {
    padding: 16px 24px;
    font-size: 16px
}

#pw_auth-terms_title {
    font-size: 20px;
    position: sticky;
    top: 0;
    padding: 8px 24px;
    border-bottom: 1px solid #d9dce1;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center
}

#pw_auth-terms_modal_close {
    cursor: pointer;
    font-size: 28px;
    color: #000;
    font-weight: 400;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s ease, transform .5s ease
}

#pw_auth-terms_modal_close:hover {
    background: #e2e2e2
}

#pw_auth-country_search {
    width: 100%;
    outline: none;
    border: none;
    padding: 12px 4px
}

#pw_auth-country_search_wrapper {
    position: sticky;
    top: 0;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    color: #757575
}

.pw_auth-country_search_wrapper_active {
    border: 1px solid #5a4bda !important
}

#pw_auth-clear_search {
    font-size: 25px;
    cursor: pointer;
    display: none
}

#pw_auth-toast_container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1500;
    border-radius: 4px;
    padding: 8px 12px;
    border: 1px solid red;
    background: #fff;
    box-shadow: 0 1px 8px #00000014;
    display: none;
    max-width: 250px
}

.pw_auth-toast {
    opacity: 0;
    transition: opacity .5s ease-in-out
}

.pw_auth-toast_show {
    opacity: 1
}

#pw_auth-help_cta {
    cursor: pointer;
    color: #414347;
    display: flex;
    gap: 8px;
    position: absolute;
    top: 16px;
    right: 16px
}

.pw_auth-popup_modal {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #0006;
    justify-content: center;
    align-items: center
}

.pw_auth-popup_content {
    background: #fff;
    border-radius: 6px;
    width: 40%;
    min-height: 40vh;
    max-height: 90vh;
    position: relative
}

.pw_auth-popup_title_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #d9dce1
}

.pw_auth-popup_title_element {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    font-size: 20px
}

.pw_auth-popup_title_element>img {
    height: 18px;
    width: 18px
}

.pw_auth-popup_close_wrapper {
    cursor: pointer;
    font-size: 28px;
    color: #000;
    font-weight: 400;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s ease, transform .5s ease
}

.pw_auth-popup_close_wrapper:hover {
    background: #e2e2e2
}

.pw_auth-otp_help_section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.pw_auth-otp_help_main_heading {
    font-size: 18px;
    font-weight: 600px
}

.pw_auth-radio_bar {
    background: #fff;
    box-shadow: 0 1px 8px #00000014;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer
}

.pw_auth-radio_bar:hover {
    background: #f5f5f5
}

.pw_auth-radio_outer {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #d9dce1;
    display: flex;
    justify-content: center;
    align-items: center
}

.pw_auth-radio_outer.active {
    border: 1px solid #5a4bda
}

.pw_auth-radio_inner {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #5a4bda
}

.pw_auth-radio_title {
    color: #3d3d3d;
    font-weight: 400px;
    font-size: 16px
}

.pw_auth-otp_submit_wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 20px
}

.pw_auth-otp_submit {
    background: #5a4bda;
    border-radius: 6px;
    padding: 12px 24px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    bottom: 20px;
    right: 20px
}

.pw_auth-otp_input_icon {
    height: 18px;
    width: 18px
}

.pw_auth-input_fields_container {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.pw_auth-otp_input_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    overflow: hidden;
    padding: 16px
}

.pw_auth-otp_input_wrapper.pw_auth-input_disabled {
    background: #f7f7f7;
    cursor-pointer: not-allowed
}

.pw_auth-otp_help_input {
    outline: none;
    border: none;
    width: 100%
}

.pw_auth-invalid_value {
    border: 1px solid red !important
}

#pw_auth-ph_edit_wrapper {
    color: #5a4bda;
    display: inline-flex;
    align-items: center;
    gap: 8px
}

.color_75 {
    color: #757575
}

.pw_auth-section_title {
    font-weight: 700;
    color: #1b2124
}

.pw_auth-color_primary {
    color: #5a4bda
}

.pw_auth-resent_cta_separator {
    height: 1px;
    background-color: #eaecef
}

.pw_auth-resent_cta_separator>div {
    font-size: 14px;
    color: #757575;
    background: #fff;
    padding: 4px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -55%)
}

.pw_auth-resend_optional_wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px
}

.pw_auth-resend_optional_cta {
    background: #f8f8f8;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center
}

.pw_auth-cta_with_loader {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center
}

#pw_auth-spinner {
    height: 16px;
    width: 16px;
    animation: spin 1s linear infinite;
    border-radius: 50%;
    border-top: 2px solid transparent;
    border-top-color: #fff
}

@keyframes pulse {

    0%,
    to {
        opacity: 1
    }

    50% {
        opacity: .5
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@media (max-width: 768px) {
    #pw_auth-country_codes_wrapper {
        width: 220px
    }

    .pw_auth-img_wrapper {
        width: 100%;
        height: 184px;
        background-image: url(https://static.pw.live/auth-fe/assets/images/MWeb.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat
    }

    .pw_auth-logic_section {
        width: 100%;
        height: auto;
        padding: 20px
    }

    .pw_auth-wrapper {
        min-width: 100%;
        padding: 20px
    }

    .pw_auth-sdk_wrapper {
        flex-direction: column
    }

    .pw_auth-otp_wrapper input {
        width: 35px;
        height: 35px;
        padding: 0;
        font-size: 14px
    }

    .pw_auth-otp_wrapper {
        gap: 8px;
        justify-content: start
    }

    #pw_auth-terms_title {
        font-size: 16px
    }

    #pw_auth-terms_modal_wrapper {
        width: 90%
    }

    #pw_auth-input_code_wrapper,
    .pw_auth-input,
    .pw_auth-otp_sub_text,
    #pw_auth-referral_input,
    #pw_auth-resend_otp {
        font-size: 14px !important
    }

    #pw_auth-resend_whatsapp,
    #pw_auth-resend_call {
        padding: 4px !important;
        font-size: 12px !important
    }

    .pw_auth-popup_content {
        width: 95%
    }

    .pw_auth-popup_title_element {
        font-size: 18px
    }

    .pw_auth-otp_input_wrapper {
        padding: 10px
    }

    .pw_auth-popup_title_wrapper {
        padding: 12px
    }

    .pw_auth-popup_modal {
        align-items: flex-end
    }

    .pw_auth-help_cta {
        top: 0;
        right: 0
    }
}

@media (max-width: 425px) {
    .pw_auth-wrapper {
        padding: 0;
        box-shadow: none
    }
}

.pw_open_modal_btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer
}

.pw_auth-modal {
    display: none;
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0006;
    justify-content: center;
    align-items: center
}

.pw_auth-modalContent {
    height: 640px;
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fefefe;
    border-radius: 24px;
    box-shadow: 0 4px 8px #0000001a;
    position: relative;
    overflow: hidden
}

.pw_modal_close {
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 20px;
    color: #000;
    top: 10px;
    font-weight: 400;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s ease, transform .5s ease
}

.pw_modal_close:hover {
    background: #e2e2e2
}

.pw_modal_close:hover,
.pw_modal_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

@media (max-width: 640px) {
    .pw_auth-modal {
        align-items: flex-end
    }

    .pw_auth-modalContent {
        max-height: 95vh;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }
}

.pw-cohort_container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8
}

.pw-cohort_exams-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    padding: 32px 24px;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 81px);
    overflow-y: auto
}

.pw-cohort_exams-wrapper::-webkit-scrollbar {
    display: none
}

.pw-cohort_exams-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.pw_cohort-selected_exams_wrapper {
    flex: 1;
    width: 85%;
    margin-inline: auto;
    display: flex
}

.pw_cohort-exams_section {
    padding: 16px 0;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #fff;
    flex: .45;
    overflow-y: auto;
    scrollbar-color: #7b7f86 #fff !important
}

.pw_cohort-class_section {
    height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: #f8f8f8;
    flex: .55;
    padding: 32px 28px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.pw_cohort-class_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes leave {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(20px)
    }
}

@keyframes selected_exam-enter {
    0% {
        opacity: 0;
        transform: translate(200px)
    }

    to {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes class-enter {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes class-leave {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.pw_cohort-enter {
    animation: enter .5s forwards
}

.pw_cohort-leave {
    animation: leave .5s forwards
}

.pw_cohort-selected_exam_enter {
    animation: selected_exam-enter .5s forwards
}

.pw_cohort-class_enter {
    animation: class-enter .5s forwards
}

.pw_cohort-class_leave {
    animation: class-leave .5s ease-out
}

.pw_cohort-sub_class_wrapper {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1120px;
    width: 100%;
    margin-inline: auto;
    padding: 32px 0
}

.pw_cohort-subclass_header {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.pw_cohort-subclass_header>p:first-child {
    font-size: 20px;
    font-weight: 600;
    color: #1b2124
}

.pw_cohort-subclass_header>p:last-child {
    font-size: 14px;
    font-weight: 400;
    color: #757575
}

.pw_cohort-class_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px
}

.pw_cohort-back_btn {
    color: #1b2124;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    background-color: #fff;
    border: none;
    margin-right: auto;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    cursor: pointer
}

.pw_cohort-loading_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column
}

.pw_cohort-loading_header {
    border-bottom: 1px solid #d9dce1;
    background: #fff;
    padding: 10px 160px
}

.pw_cohort-loading_header>img {
    height: 56px;
    width: 56px
}

.pw_cohort-loading_screen_container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px
}

.pw_cohort-loading_screen_container>img {
    height: 448px;
    width: 448px;
    object-fit: contain
}

.pw_cohort-loading_text {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 32px;
    font-weight: 400
}

.pw_cohort-options_header {
    display: flex;
    align-items: center;
    gap: 12px
}

.pw_cohort-options_header_text {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.pw_cohort-options_header_text>h3 {
    font-size: 16px;
    font-weight: 600
}

.pw_cohort-options_header_text>p {
    font-size: 14px;
    font-weight: 400;
    color: #757575
}

.pw_cohort-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    width: 100%
}

@media (width < 576px) {
    .pw-cohort_container {
        background-color: #fff
    }

    .pw-cohort_exams-wrapper {
        grid-template-columns: 1fr;
        padding: 12px;
        gap: 8px
    }

    .pw_cohort-class_wrapper {
        width: 100%;
        grid-template-rows: repeat(8, 1fr);
        padding: 0
    }

    .pw_cohort-loading_header {
        padding: 4px 16px
    }

    .pw_cohort-loading_header>img {
        height: 32px;
        width: 32px
    }

    .pw_cohort-loading_screen_container>img {
        height: 306px;
        width: 306px
    }

    .pw_cohort-loading_text {
        font-size: 18px;
        font-weight: 400
    }
}