.Mostloved_slideBarRemove__Gz1ig::-webkit-scrollbar {
    display: none
}

.Mostloved_slideBarRemove__Gz1ig {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.Mostloved_leftscrollHidden__ik9P0,
.Mostloved_scrollHidden__lPzvy {
    align-items: center;
    display: none;
    padding: 12px
}

.Mostloved_swipeButton__u87n9 {
    display: flex
}

.Mostloved_leftswipeButton__XEl95,
.Mostloved_swipeButton__u87n9 {
    align-items: center;
    cursor: pointer;
    display: none;
    height: 40px;
    scroll-behavior: smooth;
    width: 40px
}

@media (min-width:1280px) {

    .Mostloved_leftscrollHidden__ik9P0,
    .Mostloved_scrollHidden__lPzvy {
        display: block
    }

    .Mostloved_leftswipeButton__XEl95,
    .Mostloved_swipeButton__u87n9 {
        display: flex
    }
}