.ExamCategoryCard_cardContainer__BGaE_ {
    box-shadow: 0 1px 8px 0 #00000014
}

.ExamCategoryCard_exploreCategoryButton__jK0fM:hover .ExamCategoryCard_exploreCategoryArrow__YWGy_:last-child {
    background-color: #5a4bda
}

.ExamCategoryCard_exploreCategoryButton__jK0fM:hover .ExamCategoryCard_exploreCategoryArrow__YWGy_:first-child {
    text-decoration: underline;
    text-underline-offset: 2px
}

.ExamCategoryCard_exploreCategoryButton__jK0fM:hover .ExamCategoryCard_exploreCategoryArrow__YWGy_:last-child svg path {
    fill: #fff
}

.TransitionWrapper_wrapper__8W2Z3 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    will-change: opacity
}

.TransitionWrapper_transition__8QkqS {
    animation: TransitionWrapper_delay__C_UvT .5s ease-in-out 0s 1 both
}

.TransitionWrapper_transition1__PdYDp {
    animation: TransitionWrapper_delay__C_UvT .5s ease-in-out .5s 1 both
}

.TransitionWrapper_transition2__hxZ5G {
    animation: TransitionWrapper_delay__C_UvT .5s ease-in-out 1s 1 both
}

.TransitionWrapper_transition3__fLerH {
    animation: TransitionWrapper_delay__C_UvT .5s ease-in-out 1.5s 1 both
}

@keyframes TransitionWrapper_delay__C_UvT {
    0% {
        opacity: 0;
        overflow: hidden;
        transform: translateY(30%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes PhoneIcon_growAndShrink__x9fQG {
    0% {
        opacity: 0;
        transform: scale(.05)
    }

    70% {
        opacity: 1;
        transform: scale(1.05)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes PhoneIcon_reverseGrowAndShrink__Y7m7Y {
    0% {
        height: 192px;
        opacity: 1;
        transform: scale(1);
        width: 360px
    }

    to {
        opacity: 0;
        transform: scale(.05)
    }
}

.PhoneIcon_phoneBox__lMrjw {
    height: 0;
    opacity: 0;
    position: absolute;
    transform: scale(.05);
    width: 0
}

.PhoneIcon_phoneBoxActive__OIDik {
    animation: PhoneIcon_growAndShrink__x9fQG .6s ease-in-out forwards;
    height: 192px;
    opacity: 1;
    transform: scale(1);
    transform-origin: right bottom;
    width: 360px
}

.PhoneIcon_phoneBoxInActive__U__p6 {
    animation: PhoneIcon_reverseGrowAndShrink__Y7m7Y .5s ease-in-out forwards;
    height: 0;
    opacity: 0;
    transform: scale(.05);
    transform-origin: left top;
    width: 0
}

.TrustedPlatformCards_parent__2TMLv:hover .TrustedPlatformCards_child__lsjpg:first-child {
    margin-block: 40px
}

.TrustedPlatformCards_parent__2TMLv .TrustedPlatformCards_child__lsjpg:first-child {
    margin-block: 95px
}

.TrustedPlatformCards_parent__2TMLv:hover .TrustedPlatformCards_child__lsjpg:last-child {
    opacity: 1
}

.StudyResources_scrollBarNone__GicBk {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.StudyResources_scrollBarNone__GicBk::-webkit-scrollbar {
    display: none
}